body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb7b7;
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    background-image: url(./img/f.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}